/* ?Landing Section */

@media (min-width: 640px) {
  .landing {
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
  }

  .landing p {
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .landing {
    grid-template-rows: repeat(2, 1fr) auto;
  }

  .landing h1 {
    line-height: 90%;
  }

  .landing .image-wrapper {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .landing p {
    grid-column: auto;
  }
}

/* ?Section 2 */

.introduction h2 {
  font-family: 'Montserrat Alternates', sans-serif;
}

/* ?feature */

.feature .feature-data {
  order: 1;
}

@media (min-width: 768px) {
  .feature .image-wrapper {
    flex: 4;
    align-self: center;
  }

  .feature .feature-data {
    flex: 5;
    order: 0;
  }
}
