.navbar h3 {
  font-family: 'Montserrat Alternates', sans-serif;
}

.navbar .user-image-btn {
  border: 0.25rem solid rgba(220, 38, 38, 0);
  transition: border-color 250ms ease-in;
}

.navbar .user-image-btn:hover {
  border-color: rgba(100, 100, 100, 0.3);
}
