@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTNorms";
  src: url("./assets/fonts/TTNorm/TTNorms-ExtraLight.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "TTNorms";
  src: url("./assets/fonts/TTNorm/TTNorms-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "TTNorms";
  src: url("./assets/fonts/TTNorm/TTNorms-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: TTNorms;
  src: url("./assets/fonts/TTNorm/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: TTNorms;
  src: url("./assets/fonts/TTNorm/TTNorms-Bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: TTNorms;
  src: url("./assets/fonts/TTNorm/TTNorms-ExtraBold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: TTNorms;
  src: url("./assets/fonts/TTNorm/TTNorms-Black.woff") format("woff");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ::-webkit-scrollbar {
  background-color: wheat;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(156, 163, 175);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(220, 38, 38);
  border-radius: 10rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
} */
