@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  background-color: wheat;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(156, 163, 175);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(220, 38, 38);
  border-radius: 10rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
